/*
######################
# COMPONENTES
######################
*/

/* Tamanho do icone para adicionar pessoa*/
.sc-glyphicon-large {
	font-size: 18px;
}


/*
######################
# COMPONENTES
######################
*/

/* Ação do campo para adicionar pessoa*/

.sc-field-action {
	display: flex;
}

.sc-field-action__icon {
	margin: 6px 0 0 5px;
}

/* Upload */
.sc-upload {
	padding: 15px;
	
	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;
	
	text-align: center;
}

.sc-upload-form-file {
	display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.sc-upload-form-file > input[type=file] {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    
    font-size: 500px;
}

/*
######################
# ESCONDER DIV
######################
*/

/* Ação esconder os selects de UMS e UCS*/

/* #pai div { */
/* 	display: none; */
/* } */


