<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<body>
	<nav class="navbar  navbar-fixed-top  sc-navbar-default  js-sticky-reference" style="background-color: #66CDAA; border-color: #DAA520;" id="main-navbar" th:fragment="navbar">
		<div class="container-fluid">
	
			<div class="navbar-header">
				<a class="navbar-brand  hidden-xs" href="#">
					<img alt="Siscovid-19" th:src="@{/images/siscovid logo-com-virus1.png}"/>
				</a>
		
				<ul class="nav  navbar-nav" style="color: #48D1CC;">
					<li>
						<a href="#" class="js-sidebar-toggle" ><i class="fa  fa-bars" style="color: #556B2F;"></i></a>
					</li>
				</ul>
			</div>
		
			<ul class="nav navbar-nav  navbar-right">	          
				<li>
					<a href="#"><em class="fa  fa-sign-out" style="color: #556B2F;"></em></a>
				</li> 
			</ul>
		</div>
	</nav>
</body>
</html>