<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layoutPadrao}"
	  xmlns:siscovid="http://siscovid.decex.eb.mil.br">

<head>
	<title>Cadastro de Unidades Militares de Saúde</title>	
</head>

<body>

<section layout:fragment="conteudo">


	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de Unidades Militares de Saúde
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	

<form method="POST" th:object="${unidadeMilitarSaude}" class="form-vertical  js-form-loading">

			<siscovid:message/>
		
			<div class="row">
							
				<div class="col-sm-3 form-group" siscovid:classforerror="sigla">					
					<label for="sigla">Sigla</label>
					<input id="sigla" type="text" class="form-control" th:field="*{sigla}"/>					
				</div>
				
				<div class="col-sm-6 form-group" siscovid:classforerror="descricao">					
					<label for="descricao">Descrição</label>
					<input id="descricao" type="text" class="form-control" th:field="*{descricao}"/>					
				</div>
												
			</div>
						
			<div class="row">				
				<div class="form-group col-sm-12">
					<label for="endereco">Endereço</label>
					<textarea class="form-control" id="endereco" rows="5" 
							placeholder="Você sabe o endereço da unidade?" th:field="*{endereco}"></textarea>
				</div>
				
			</div>									
				
			<button class="btn  btn-primary" type="submit">Salvar</button>
			
		</form>
	</div>
</section>
</body>
</html>