<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layoutPadrao}">

<head></head>

<body>

	
<section layout:fragment="conteudo">


	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de casos
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	
	<!-- 	<div class="alert  alert-danger  alert-dismissible" role="alert"> -->
	<!-- 		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
	<!-- 		<i class="fa  fa-exclamation-circle"></i> Já existe um usuário com o nome informado. -->
	<!-- 	</div> -->
	
		<form method="POST" th:object="${infectado}" class="form-vertical  js-form-loading">
		
			<div class="row">
				<div class="col-sm-3 form-group">
					<label for="paciente">Paciente</label>
					<div class="sc-field-action">
						<select id="paciente" class="form-control" th:field="*{pessoa}">
							<option value="">Selecione o paciente</option>							
							<option th:each="pessoa : ${pessoas}" th:value="${pessoa.codigo}" th:text="${pessoa.posto.descricao + ' - ' + pessoa.nomeGuerra}">2º Sgt - Vanilton</option>
						</select>
						
						<div class="sc-field-action__icon">
							<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoPaciente">
								<i class="glyphicon glyphicon-plus-sign sc-glyphicon-large"></i>
							</a>
						</div>
					</div>
				</div>
			
				
			
				<div class="col-sm-3 form-group" >
					<label for="ums">Unidade Militar de Saúde</label>
					<div class="sc-field-action">
						<select id="ums" class="form-control" th:field="*{ums}">
							<option value="">Selecione uma UMS</option>							
							<option th:each="ums : ${umss}" th:value="${ums.codigo}" th:text="${ums.sigla}">HCE</option>
						</select>
						
						<div class="sc-field-action__icon">
							<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoUMS">
								<i class="glyphicon glyphicon-plus-sign sc-glyphicon-large"></i>
							</a>
						</div>
					</div>
				</div>
			
				
			
				<div class="col-sm-3 form-group">
					<label for="ucs">Unidade Civil de Saúde</label>
					<div class="sc-field-action">
						<select id="ucs" class="form-control" th:field="*{ucs}">
							<option value="">Selecione uma UCS</option>							
							<option th:each="ucs : ${ucss}" th:value="${ucs.codigo}" th:text="${ucs.sigla}">UNIMED</option>
						</select>
						
						<div class="sc-field-action__icon">
							<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoUCS">
								<i class="glyphicon glyphicon-plus-sign sc-glyphicon-large"></i>
							</a>
						</div>
					</div>
				</div>				
			</div>
			
			<div class="row">
				<div class="col-sm-9 form-group" th:classappend="${#fields.hasErrors('localConvalescenca')} ? has-error">
					<label class="control-label">Convalescença</label> 
					<div>												
						<th:block th:each="local : ${locais}">
							<div class="radio  radio-inline" >
								<input th:id="|id_${locais}|" type="radio" th:value="${local}" th:field="*{localConvalescenca}" class="js-radio-local">								
								<label th:for="|id_${locais}|" th:text="${local.descricao}"><span style="margin-right: 25px;">Residencia</span></label>
							</div>
						</th:block>
					</div>
				</div>
			</div>							
				
			<div class="form-group">			
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>	
		</form>
	</div>
	
	<div th:replace="unidadeSaude/CadastroRapidoUMS :: modal"></div>
	<div th:replace="unidadeSaude/CadastroRapidoUCS :: modal"></div>
	<div th:replace="paciente/CadastroRapidoPaciente :: modal"></div>

</section>

<th:block layout:fragment="javascript-extra">	
	<script th:src="@{/javascripts/ums.cadastro-rapido.js}"></script>
	<script th:src="@{/javascripts/ucs.cadastro-rapido.js}"></script>	
	<script th:src="@{/javascripts/paciente.cadastro-rapido.js}"></script>
</th:block>
	
</body>
</html>