<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layoutPadrao}"
	  xmlns:siscovid="http://siscovid.decex.eb.mil.br">

<head>
	<title>Cadastro de paciente</title>	
</head>

<body>

<section layout:fragment="conteudo">


	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de paciente
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	

<form method="POST" th:object="${pessoa}" class="form-vertical  js-form-loading">
			
			<siscovid:message/>
		
			<div class="row">
							
				<div class="col-sm-3 form-group" siscovid:classforerror="identidade">					
					<label for="identidade">Identidade</label>
					<input id="identidade" type="text" class="form-control" th:field="*{identidade}"/>					
				</div>
				
				<div class="col-sm-6 form-group" siscovid:classforerror="nome">					
					<label for="nome">Nome Completo</label>
					<input id="nome" type="text" class="form-control" th:field="*{nome}"/>					
				</div>
				
				<div class="col-sm-3 form-group" siscovid:classforerror="nomeGuerra">					
					<label for="nomeGuerra">Nome de guerra</label>
					<input id="nomeGuerra" type="text" class="form-control" th:field="*{nomeGuerra}"></input>					
				</div>
				
			</div>
	
			<div class="row">
				
				<div class="col-sm-4 form-group" siscovid:classforerror="posto">
					<label for="posto">Posto/Graduação</label>
					<select id="posto" class="form-control" th:field="*{posto}">
	                    <option value="">Selecione o posto</option>
	                    <option th:each="posto : ${postos}" th:value="${posto}" th:text="${posto.descricao}">Cel</option>
	                </select>
				</div>
				
				<div class="col-sm-4 form-group" siscovid:classforerror="om">
					<label for="om">OM</label>
					<select id="om" class="form-control" th:field="*{om}" >
	                    <option value="">Selecione a OM</option>
 	                    <option th:each="om : ${organizacoesMilitares}" th:value="${om.codigo}" th:text="${om.sigla}">Cel</option>
	                </select>
				</div>
				
				<div class="col-sm-4 form-group" siscovid:classforerror="email">					
					<label for="email">E-mail</label>
					<input id="email" type="text" class="form-control" th:field="*{email}"></input>					
				</div>
				
			</div>
			
			<div class="row">
				<div class="col-sm-4 form-group" siscovid:classforerror="tipoPaciente">
					<label for="tipo">Tipo</label>
					<select id="tipo" class="form-control" th:field="*{tipoPaciente}" >
	                    <option value="">Selecione o tipo do paciente</option>
 	                    <option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo.descricao}">Cel</option>
	                </select>
				</div>
				
				
			</div>							
				
			<button class="btn  btn-primary" type="submit">Salvar</button>
			
		</form>
	</div>

</section>


</body>
</html>