<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<body>	
	<div class="modal fade" id="modalCadastroRapidoPaciente" tabindex="-1" role="dialog" th:fragment="modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">
	        	<span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">Cadastro de paciente</h4>
	      </div>
	      <div class="modal-body">	      	
	      	
	      	<div class="alert alert-danger hidden js-mensagem-cadastro-rapido-pessoa" role="alert"></div>
	      	
	      	<form class="form-horizontal" th:action="@{/pacientes}">	      		
	      	
	      		<div class="form-group">
	      		
	      			<label class="col-sm-3 control-label" for="identidadePaciente">Identidade:</label>
	      			<div class="col-sm-9">
	      				<input id="identidadePaciente" type="text" class="form-control">
	      			</div>
	      		</div>
	      		
	      		<div class="form-group">	
	      			<label class="col-sm-3 control-label" for="nomePaciente">Nome Completo:</label>
	      			<div class="col-sm-9">
	      				<input id="nomePaciente" type="text" class="form-control">
	      			</div>
	      		</div>
	      		
	      		<div class="form-group">	
	      			<label class="col-sm-3 control-label" for="nomeGuerraPaciente">Nome de guerra:</label>
	      			<div class="col-sm-9">
	      				<input id="nomeGuerraPaciente" type="text" class="form-control">
	      			</div>
	      		</div>
	      		
	      		<div class="form-group">	
	      			<label class="col-sm-3 control-label" for="emailPaciente">E-mail:</label>
	      			<div class="col-sm-9">
	      				<input id="emailPaciente" type="text" class="form-control">
	      			</div>
	      		</div>
	      										
				<div class="form-group">
					<div>
					<label class="col-sm-3 control-label" for="postoPaciente">Posto/Graduação:</label>
					<select class="col-sm-3 control-label" id="postoPaciente" style="margin-left: 15px;">
	                    <option value="">Escolha o posto</option>
						<option th:each="posto : ${postos}" th:value="${posto}" th:text="${posto.descricao}">Cel</option>
	                </select>
	                
	                <label class="col-sm-2 control-label" for="omPaciente" style="margin-left: 18px;">OM:</label>
					<select class="col-sm-3 control-label" id="omPaciente">
	                    <option value="">Escolha a OM</option>
	                    <option th:each="om : ${organizacoesMilitares}" th:value="${om.codigo}" th:text="${om.sigla}">DECEx</option>
	                </select>
	                </div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="tipoPaciente" style="margin-left: 15px; text-align: left;">Tipo de paciente:</label>
					<select class="col-sm-3 control-label" id="tipoPaciente">
	                    <option value="">Escolha o tipo</option>
	                    <option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo.descricao}">Cel</option>
	                </select>
	              		
	      	</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary js-modal-cadastro-pessoa-salvar-btn">Salvar</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	      </div>
	    </div>
	  </div>
	</div>

</body>
	  
</html>