<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layoutPadrao}">

<head>
	<title>Cadastro de usuário</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>

<body>

	
<section layout:fragment="conteudo">


	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de usuário
			</h1>
		</div>
	</div>

	<div class="container-fluid">
		
		<th:block th:include="fragments/MensagemSucesso"></th:block>
	
		<form method="POST" th:object="${pessoa}" class="form-vertical  js-form-loading">
		
			<th:block th:include="fragments/MensagensErroValidacao"></th:block>
		
			<div class="row">
							
				<div class="col-sm-3">
					<div class="form-group">
						<label for="identidade">Identidade</label>
						<input id="identidade" type="text" class="form-control" th:field="*{identidade}"/>
					</div>
				</div>
				
				<div class="col-sm-6">
					<div class="form-group">
						<label for="nome">Nome Completo</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="form-group">
						<label for="nomeGuerra">Nome de guerra</label>
						<input id="nomeGuerra" type="text" class="form-control" th:field="*{nomeGuerra}"/>
					</div>
				</div>
				
			</div>
	
			<div class="row">
				
				<div class="form-group  col-sm-3">
					<label for="posto">Posto/Graduação</label>
					<select id="posto" class="form-control" th:field="*{posto}" >
	                    <option value="">Selecione o posto</option>
	                    <option th:each="posto : ${postos}" th:value="${posto}" th:text="${posto.descricao}">Cel</option>
	                </select>
				</div>
				
				<div class="form-group  col-sm-5">
					<label for="om">OM</label>
					<select id="om" class="form-control" th:field="*{om}">
	                    <option value="">Selecione a OM</option>
	                    <option th:each="om : ${organizacoesMilitares}" th:value="${om.codigo}" th:text="${om.sigla}">DECEx</option>
	                </select>
				</div>
				
				<div class="form-group  col-sm-4  siscovid-required" siscovid:classforerror="perfil">
					<label class="control-label">Perfil</label> 
					<div>
						<th:block th:each="perfil : ${perfis}">
							<div class="radio  radio-inline">
								<input th:id="|id_${perfil}|" type="radio" th:value="${perfil}" th:field="*{usuario.perfil}" class="js-radio-perfil">								
								<label th:for="|id_${perfil}|" th:text="${perfil.descricao}"><span style="margin-right: 25px;">Administrador</span></label>
							</div>
						</th:block>
					</div>
				</div>
			</div>
				
			<div class="row">
				
				<div class="col-sm-3">
					<div class="form-group">
						<label for="email">E-mail</label>
						<input id="email" type="text" class="form-control" th:field="*{email}"/>
					</div>
				</div>
			
				<div class="form-group  col-sm-3" siscovid:classforerror="senha" >
					<label for="senha" class="control-label">Senha</label> 
					<input type="password" class="form-control" id="senha" th:field="*{usuario.senha}"/>
				</div>
				
				<div class="form-group  col-sm-3" siscovid:classforerror="confirmacaoSenha">
					<label for="confirmacaoSenha" class="control-label">Confirmação de senha</label> 
					<input type="password" class="form-control" id="confirmacaoSenha" th:field="*{usuario.confirmacaoSenha}"/>
				</div>
				
				<div class="form-group  col-sm-3">
					<label class="control-label">Acesso</label>
					<div>
						<input type="checkbox" class="js-status" data-size="small" data-off-color="danger" 
							data-on-text="Liberado" data-off-text="Bloqueado" th:field="*{usuario.ativo}"/>
					</div>
				</div>
								
			</div>				
			
			<div class="form-group">			
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>	
		</form>
	</div>

</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script>
		$('.js-status').bootstrapSwitch();
	</script>
</th:block>

</body>
</html>