<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layoutPadrao}">

<head>
	<title>Cadastro de pessoa</title>	
</head>

<body>

<section layout:fragment="conteudo">


	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de pessoa
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	
	<!-- 	<div class="alert  alert-danger  alert-dismissible" role="alert"> -->
	<!-- 		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
	<!-- 		<i class="fa  fa-exclamation-circle"></i> Já existe um usuário com o nome informado. -->
	<!-- 	</div> -->

<form method="POST" th:object="${usuario}" class="form-vertical  js-form-loading">
		
			<div class="row">
							
				<div class="col-sm-3">
					<div class="form-group">
						<label for="identidade">Identidade</label>
						<input id="identidade" type="text" class="form-control"/>
					</div>
				</div>
				
				<div class="col-sm-6">
					<div class="form-group">
						<label for="nome">Nome Completo</label>
						<input id="nome" type="text" class="form-control"/>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="form-group">
						<label for="nomeGuerra">Nome de guerra</label>
						<input id="nomeGuerra" type="text" class="form-control"></input>
					</div>
				</div>
				
			</div>
	
			<div class="row">
				
				<div class="form-group  col-sm-4">
					<label for="posto">Posto/Graduação</label>
					<select id="posto" class="form-control" >
	                    <option value="">Selecione o posto</option>
<!-- 	                    <option th:each="posto : ${postos}" th:value="${}" th:text="${}">Cel</option> -->
	                </select>
				</div>
				
				<div class="form-group  col-sm-4">
					<label for="om">OM</label>
					<select id="om" class="form-control" >
	                    <option value="">Selecione a OM</option>
<!-- 	                    <option th:each="om : ${oms}" th:value="${}" th:text="${}">Cel</option> -->
	                </select>
				</div>
				
				<div class="col-sm-4">
					<div class="form-group">
						<label for="email">E-mail</label>
						<input id="email" type="text" class="form-control"></input>
					</div>
				</div>
				
			</div>					
				
			<button class="btn  btn-primary" type="submit">Salvar</button>
			
		</form>
	</div>

</section>


</body>
</html>