<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<body>	
	<div class="modal fade" id="modalCadastroRapidoPessoa" tabindex="-1" role="dialog" th:fragment="modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">
	        	<span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">Cadastro de pessoa</h4>
	      </div>
	      <div class="modal-body">
	      	<form class="form-horizontal">
	      	
	      		<div class="form-group">
	      		
	      			<label class="col-sm-3 control-label" for="identidadePessoa">Identidade:</label>
	      			<div class="col-sm-9">
	      				<input id="identidadePessoa" type="text" class="form-control">
	      			</div>
	      		</div>
	      		
	      		<div class="form-group">	
	      			<label class="col-sm-3 control-label" for="nomePessoa">Nome Completo:</label>
	      			<div class="col-sm-9">
	      				<input id="nomePessoa" type="text" class="form-control">
	      			</div>
	      		</div>
	      		
	      		<div class="form-group">	
	      			<label class="col-sm-3 control-label" for="nomeGuerraPessoa">Nome de guerra:</label>
	      			<div class="col-sm-9">
	      				<input id="nomeGuerraPessoa" type="text" class="form-control">
	      			</div>
	      		</div>
	      		
	      										
				<div class="form-group">
					<div>
					<label class="col-sm-3 control-label" for="posto">Posto/Graduação:</label>
					<select class="col-sm-3 control-label" id="posto" style="margin-left: 15px;">
	                    <option value="">Selecione o posto</option>
<!-- 	                    <option th:each="posto : ${postos}" th:value="${}" th:text="${}">Cel</option> -->
	                </select>
	                
	                <label class="col-sm-2 control-label" for="om" style="margin-left: 18px;">OM:</label>
					<select class="col-sm-3 control-label" id="om">
	                    <option value="">Selecione a OM</option>
<!-- 	                    <option th:each="om : ${oms}" th:value="${}" th:text="${}">Cel</option> -->
	                </select>
	                </div>
				</div>
				
				
	      		
	      	</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary">Salvar</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	      </div>
	    </div>
	  </div>
	</div>

</body>
	  
</html>